* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.display-hide {
  display: none !important;
}
.display-block {
  display: block !important;
}
title img {
  width: 3rem;
  height: 3rem;
}

/* NavBar section */
#Nav {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.NavBar {
  width: 100%;
  height: auto;
  padding: 1rem 5%;
}
.NavBar-container {
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.NavBar-logo {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}
.NavBar-logo img {
  width: 6rem;
  height: 100%;
  cursor: pointer;
}
.NavBar-list {
  width: 66%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.NavBar-list-menu {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  list-style-type: none;
}
.NavBar-list-menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 200;
}
.NavBar-list-investor {
  width: 15rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  list-style-type: none;
}
.NavBar-list-investor li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.NavBar-list-investor span {
  margin: 0 1rem;
}
.Navbar-active {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 10 !important;
}

/* INVESTOR SECTIONS */
#Investor {
  width: 100%;
  height: auto;
  padding: 0 5%;
}
.Investor-conainer {
  width: 100%;
  height: 100vh;
  position: relative;
}
.Investor-wrap {
  width: auto;
  height: 50%;
  padding: 3rem;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.Investor-welcome {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.Investor-welcome h1 {
  font-size: 2rem;
  font-weight: 400;
}
.Investor-welcome h2 {
  font-size: 2rem;
  font-weight: 400;
}
.Investor-welcome h2 span {
  color: #008bcb;
}
.Investor-login {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.Investor-login h1 {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}
.Investor-login h1 span {
  font-size: 1rem;
  font-weight: 600;
}
.Investor-login-btn {
  width: 40%;
  height: 10%;
  padding: 0.5rem;
  background-color: #008bcb;
  text-align: center;
  margin: 0 auto;
}
.Investor-login-btn a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: rgb(255, 255, 255);
  
}
.Investor-or {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
}
.Investor-or hr {
  width: 50%;
  height: 0;
}
.Investor-or span {
  font-size: 1rem;
  font-weight: 200;
  margin: 0 1rem;
}
.Investor-getAccess {
  width: 100%;
  height: auto;
}
.Investor-getAccess h1 {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}
.Investor-getAccess h1 span {
  font-size: 1rem;
  font-weight: 600;
}
.Investor-getAccess button {
  width: 40%;
  height: 10%;
  padding: 0.5rem;
  background-color: #008bcb;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  border: none;
  cursor: pointer;
}
.Investor-getAccess button span {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

/* GET ACCESS FORM */
#GetAccess {
  width: 100%;
  height: auto;
  padding: 0 5%;
  display: none;
}
.GetAccess {
  width: 100%;
  height: auto;
  padding: 0 5%;
}
.GetAccess-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.GetAccess-wrap {
  width: auto;
  height: 50%;
  padding: 3rem;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.GetAccess-title {
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
}
.GetAccess-title h2 {
  font-size: 2rem;
  font-weight: 400;
}
.GetAccess-title h2 span {
  color: #008bcb;
}
.GetAccess-form {
  width: 100%;
  height: auto;
}

.GetAccess-form-list {
  width: 100%;
  height: auto;
}
.GetAccess-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.GetAccess-content input {
  font-size: 1rem;
  font-weight: 200;
  border: 2px solid rgb(163, 163, 163);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
}
.GetAccess-content input:focus {
  font-size: 1rem;
  font-weight: 200;
  outline: none !important;
  border: 2px solid rgb(163, 163, 163);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
}
.GetAccess-btn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.GetAccess-btn button {
  padding: 0.6rem 2rem;
  border: none;
  background-color: #008bcb;
  color: rgb(255, 255, 255);
  border-radius: 0.3rem;
}
.GetAccess-btn button span {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.GetAccess-btn a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.GetAccess-btn button {
  margin: 0 1rem;
}
.GetAccess-exit{
  width: 100%;
  height: 3rem;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.GetAccess-exit-btn{
  position: absolute;
  right: 0;
  top: 0;
}
.GetAccess-exit-btn i{
  transform: scaleX(-1);
  margin-right: .5rem;
}