* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* NavBar section */
#Nav {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.NavBar {
  width: 100%;
  height: auto;
  padding: 0 5%;
  padding-top: 1rem;
}
.NavBar-container {
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.NavBar-logo {
  width: auto;
  height: auto;
}
.NavBar-logo img {
  width: 6rem;
  height: auto;
}
.NavBar-list {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.NavBar-list span {
  color: rgb(255, 255, 255);
}

/* Heading sections */
#Heading {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: row;
  position: relative;
}
.Heading-text {
  width: 100%;
  height: 130vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.Heading-text-wrap {
  width: 35%;
  height: auto;
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translate(0%, -40%);
}
.Heading-text-header {
  margin-bottom: 2rem;
}
.Heading-text-header h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}
.Heading-text-wrap p {
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
}
.Heading-text-wrap-btm {
  width: 35%;
  height: auto;
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(0%, -90%);
}
.Heading-text-wrap-btm p {
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
}

/* Heading animation sections */
.Heading-animation {
  width: 100%;
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  overflow: hidden;
}
.Heading-animation img {
  width: 100vw;
  height: 100%;
}

/* Our Service Sections */
#OurService {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  position: relative;
}
.OurService-header {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 2rem 0;
  padding-top: 5rem;
  margin-bottom: 3rem;
}
.OurService-header h1 {
  font-size: 1.5rem;
  font-weight: 400;
}
.OurService-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
}
.OurService-content-left {
  width: 100%;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.OurService-content-left-img {
  width: 100%;
  height: auto;
  padding: 0 3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
  bottom: 20%;
}
.OurService-content-left-img img {
  width: 100%;
  height: auto;
}
.OurService-content-right {
  width: 100%;
  height: auto;
}
.OurService-content-right-wrap {
  width: 100%;
  height: 55vh;
}
.OurService-content-right-header {
  width: 80%;
  height: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.OurService-content-right-header h1 {
  font-size: 2rem;
  font-weight: 400;
}
.OurService-content-right-header h2 {
  font-size: 0.9rem;
  font-weight: 500;
}
.OurService-content-right-text {
  width: 90%;
  height: auto;
  text-align: justify;
}
.OurService-content-right-text p {
  font-size: 1rem;
  font-weight: 200;
}

/* Our Platform Sections */
#Platform {
  width: 100%;
  height: 250vh;
  position: relative;
  margin-top: 9rem;
}
.Platform-background {
  width: auto;
  height: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  opacity: 0.9;
  overflow: hidden;
}
.Platform-background #Bg {
  width: 100vw;
  height: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.Platform-wrap {
  width: 100%;
  height: auto;
  padding: 0 5%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}
.Platform-header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Platform-header-container {
  width: 50%;
  height: auto;
  margin: 0 auto;
}
.Platform-header-container h1 {
  font-size: 1.5rem;
  font-weight: 400;
}
.Platform-header-container h2 {
  font-size: 1rem;
  font-weight: 200;
  margin-top: 1rem;
}
.Platform-content {
  width: 100%;
  height: auto;
}
.Platform-content-container {
  width: 100%;
  height: 45vh;
}
.Platform-content-wrap {
  width: 30%;
  height: auto;
  position: relative;
  overflow: hidden;
  margin: 2.5rem 0;
}
.Platform-content-wrap h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.Platform-content-wrap p {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 1rem;
}
.regulator {
  position: absolute;
  right: 5%;
  text-align: right;
}

/* AboutUs section */
#AboutUs {
  width: 100%;
  height: auto;
  padding: 0 5%;
  padding-top: 9rem;
  position: relative;
}
.AboutUs-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
.AboutUs-header h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.AboutUs-map {
  width: 100%;
  height: auto;
}
.AboutUs-map img {
  width: 100%;
  height: auto;
}
.AboutUs-company {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0;
}
.AboutUs-company-info {
  width: 25vw;
  height: auto;
}
.AboutUs-company-info h1 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.AboutUs-company-info p {
  font-size: 0.8rem;
  font-weight: 200;
  text-align: justify;
}

/* Contact us sections */
#ContactUs {
  width: 100%;
  height: auto;
  padding: 0 5%;
  padding-top: 9rem;
  padding-bottom: 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ContactUs-text {
  width: 40vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactUs-text-wrap {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.ContactUs-text-wrap h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
}
.ContactUs-text-wrap-text {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
.ContactUs-text-wrap h2 {
  font-size: 1.2rem;
  font-weight: 200;
}
.ContactUs-form {
  width: 40vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactUs-form-wrap {
  width: 100%;
  height: auto;
}
.ContactUs-form-title {
  width: fit-content;
  height: auto;
  margin-bottom: 4rem;
  padding: 0.5rem 2rem;
  background-color: black;
}
.ContactUs-form-title h1 {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.ContactUs-form-content {
  width: 100%;
  height: auto;
}
.ContactUs-form-content .input {
  width: 60%;
}
.ContactUs-form-content .input #email {
  margin-top: 0.5rem;
}
.ContactUs-form-content .textarea {
  margin-top: 2rem;
}
.ContactUs-form-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.ContactUs-form-item input {
  font-size: 1rem;
  font-weight: 200;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: rgb(163, 163, 163);
}
.ContactUs-form-item input:focus {
  font-size: 1rem;
  font-weight: 200;
  outline: none !important;
  border: 2px solid rgb(163, 163, 163);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
}
.ContactUs-form-item textarea {
  font-size: 1rem;
  font-weight: 300;
  border: 2px solid rgb(163, 163, 163);
  color: rgb(131, 131, 131);
}
.ContactUs-form-item textarea:focus {
  font-size: 1rem;
  font-weight: 200;
  outline: none !important;
  border: 2px solid rgb(163, 163, 163);
  box-shadow: none;
  background-color: rgb(255, 255, 255);
}
.ContactUs-form-item label {
  font-size: 1rem;
  font-weight: 200;
  color: rgb(131, 131, 131);
}
.ContactUs-form-btn {
  width: auto;
  height: auto;
}
.ContactUs-form-btn button {
  padding: 0.5rem 2rem;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#footer {
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 2rem 5%;
  margin-top: 5rem;
}
.footer-menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-menu-wrap {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-logo {
  width: 100%;
  height: auto;
}
.footer-logo img {
  width: 40%;
  height: auto;
}
.footer-menu-arrow{
  width: auto;
  height: auto;
}
.footer-menu-arrow i{
  font-size: 2rem;
  margin-top: 1rem;
  animation: pulse 1s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    margin-top: 1rem;
  }
  50% {
    margin-top: 0rem;
  }
  100% {
    margin-top: 1rem;
  }
}
.footer-menu-list{
  width: 100%;
  height: auto;
}
.footer-menu-list ul li {
  list-style: none;
  list-style-type: none;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 200;
  cursor: pointer;
}
.footer-info{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.footer-info-copy{
  width: auto;
  height: auto;
}
.footer-info-copy h2{
  font-size: .8rem;
  font-weight: 200;
}
.footer-info-icon{
  width: 10vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-info-icon i{
 font-size: 1.5rem;
 
}