* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



/* NavBar section */
#Nav {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.NavBar {
  width: 100%;
  height: auto;
  padding: 1rem 5%;
}
.NavBar-container {
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.NavBar-logo {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}
.NavBar-logo img {
  width: 6rem;
  height: 100%;
  cursor: pointer;
}
.NavBar-list {
  width: 66%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.NavBar-list-menu {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  list-style-type: none;
  color: rgb(255, 255, 255);
}
.NavBar-list-menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 200;
}
.NavBar-list-investor {
  width: 15rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  list-style-type: none;
  color: rgb(255, 255, 255);
}
.NavBar-list-investor li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.NavBar-list-investor span {
  margin: 0 1rem;
}
.Navbar-active{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 100;
}

/* Heading sections */
#Heading {
  width: 100%;
  height: 300vh;
  display: flex;
  flex-direction: row;
  position: relative;
}
.Heading-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.Heading-text-wrap {
  width: 35%;
  height: auto;
  position: absolute;
  top: 12%;
  left: 5%;
  transform: translate(12%);
}
.Heading-text-header {
  margin-bottom: 2rem;
}
.Heading-text-header h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}
.Heading-text-wrap p {
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
}
.Heading-text-wrap-btm {
  width: 35%;
  height: auto;
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(0%, -80%);
}
.Heading-text-wrap-btm p {
  color: rgb(255, 255, 255);
}

/* Heading animation sections */
.Heading-animation {
  width: 100%;
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  overflow: hidden;
}
.Heading-animation-wrap{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.Heading-animation-wrap canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

/* Our Service Sections */
#OurService {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  position: relative;
  padding-top: 1.5rem;
  
}
.OurService-header {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 2rem 0;
  padding-top: 5rem;
  margin-bottom: 3rem;
}
.OurService-header h1 {
  font-size: 2.5rem;
  font-weight: 400;
  background: linear-gradient(
    90deg,
    #ab6bff,
    #9ad5f9 15%,
    #575df0 35%,
    #ab6bff 50%,
    #9ad5f9 65%,
    #575df0 85%,
    #ab6bff
  );
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: textcolor 10s linear infinite;
}
.OurService-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.OurService-content-left {
  width: 100%;
  height: fit-content;
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
  bottom: 20%;
}
.OurService-content-left-img {
  width: 100%;
  height: auto;
  padding: 0 3rem;
}
.OurService-content-left-img img {
  width: 100%;
  height: auto;
}
.OurService-content-right {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  z-index: 2;

}
.OurService-content-right-wrap {
  width: 100%;
  height: 50vh;
}
.OurService-content-right-header {
  width: 80%;
  height: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.OurService-content-right-header h1 {
  font-size: 2rem;
  font-weight: 400;
}
.OurService-content-right-header h2 {
  font-size: 0.9rem;
  font-weight: 500;
}
.OurService-content-right-text {
  width: 90%;
  height: auto;
  text-align: justify;
}
.OurService-content-right-text p {
  font-size: 1rem;
  font-weight: 200;
}

/* Our Platform Sections */
#Platform {
  width: 100%;
  height: 255vh;
  position: relative;
  margin-top: 9rem;
  margin-bottom: 5.5rem;
  z-index: 0;
}
.Platform-background {
  width: auto;
  height: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  opacity: 0.9;
  overflow: hidden;
}
.Platform-background #Bg {
  width: 100vw;
  height: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.Platform-wrap {
  width: 100%;
  height: auto;
  padding: 0 5%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 2;
}
.Platform-header {
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Platform-header-container {
  width: 55%;
  height: auto;
  margin: 0 auto;
}
.Platform-header-container h1 {
  font-size: 2.5rem;
  font-weight: 400;
  background: linear-gradient(
    90deg,
    #ab6bff,
    #9ad5f9 15%,
    #575df0 35%,
    #ab6bff 50%,
    #9ad5f9 65%,
    #575df0 85%,
    #ab6bff
  );
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: textcolor 10s linear infinite;
}
.Platform-header-container h2 {
  font-size: 1rem;
  font-weight: 200;
  margin-top: 1rem;
}
.Platform-content {
  width: 100%;
  height: auto;
}
.Platform-content-container {
  width: 100%;
  height: 45vh;
}
.Platform-content-wrap {
  width: 30%;
  height: auto;
  position: relative;
  overflow: hidden;
  margin: 2.5rem 0;
}
.Platform-content-wrap h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.Platform-content-wrap p {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 1rem;
}
.regulator {
  position: absolute;
  right: 5%;
  text-align: right;
}

/* AboutUs section */
#AboutUs {
  width: 100%;
  height: auto;
  padding: 0 5%;
  padding-top: 5rem;
  position: relative;
}
.AboutUs-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
.AboutUs-header h1 {
  font-size: 2.5rem;
  font-weight: 400;
  background: linear-gradient(
    90deg,
    #ab6bff,
    #9ad5f9 15%,
    #575df0 35%,
    #ab6bff 50%,
    #9ad5f9 65%,
    #575df0 85%,
    #ab6bff
  );
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: textcolor 10s linear infinite;
}

.AboutUs-map {
  width: 100%;
  height: auto;
}
.AboutUs-map img {
  width: 100%;
  height: auto;
}
.AboutUs-company {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0;
}
.AboutUs-company-info {
  width: 25vw;
  height: auto;
}
.AboutUs-company-info h1 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.AboutUs-company-info p {
  font-size: 0.8rem;
  font-weight: 200;
  text-align: justify;
}

/* Contact us sections */
#ContactUs {
  width: 100%;
  height: auto;
  padding: 0 5%;
  padding-top: 6.5rem;
  padding-bottom: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ContactUs-text {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.ContactUs-text-wrap {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.ContactUs-text-wrap h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  background: linear-gradient(
    90deg,
    #ab6bff,
    #9ad5f9 15%,
    #575df0 35%,
    #ab6bff 50%,
    #9ad5f9 65%,
    #575df0 85%,
    #ab6bff
  );
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: textcolor 10s linear infinite;
}

@keyframes textcolor {
  0% {
    background-position: 400%;
  }
  100% {
    background-position: 0%;
  }
}
.ContactUs-text-wrap-text {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
.ContactUs-text-wrap h2 {
  font-size: 1.2rem;
  font-weight: 200;
}
.ContactUs-form {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactUs-form-wrap {
  width: 100%;
  height: auto;
}
.ContactUs-form-content {
  width: 70vw;
  height: auto;
}
.ContactUs-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.ContactUs-form-info {
  width: 100%;
  height: auto;
}
.ContactUs-form-content .input {
  width: 90%;
}
.ContactUs-form-content .input #email {
  margin-top: 4.55rem;
}
.ContactUs-form-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.ContactUs-form-item input {
  font-size: 1rem;
  font-weight: 200;
  border: 2px solid rgb(163, 163, 163);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
}
.ContactUs-form-item input:focus {
  font-size: 1rem;
  font-weight: 200;
  outline: none !important;
  border: 2px solid rgb(163, 163, 163);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
}
.ContactUs-form-item textarea {
  font-size: 1rem;
  font-weight: 300;
  border: 2px solid rgb(163, 163, 163);
  color: rgb(131, 131, 131);
  padding: 0.5rem;

  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: rgb(163, 163, 163);
}
.ContactUs-form-item textarea:focus {
  font-size: 1rem;
  font-weight: 200;
  outline: none !important;
  border: 2px solid rgb(163, 163, 163);
  box-shadow: none;
  background-color: rgb(255, 255, 255);
}
.ContactUs-form-btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.ContactUs-form-btn button {
  padding: 0.5rem 5rem;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 0.3rem;
}

/* Footer section */
#footer {
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 1.5rem 5%;
  margin-top: 5rem;
}
.footer-menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-menu-wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-logo {
  width: 100%;
  height: auto;
}
.footer-logo img {
  width: 10%;
  height: auto;
  margin-bottom: 1rem;
}

.footer-logo-address {
  width: 100%;
  height: auto;
}

.footer-logo-address h2 {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.footer-logo-address h2 i {
  margin-right: 1rem;
}

.footer-menu-arrow {
  width: 5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-menu-arrow i {
  cursor: pointer;
  font-size: 2rem;
  animation: pulse 1.5s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    margin-top: 1rem;
  }
  50% {
    margin-top: 0rem;
  }
  100% {
    margin-top: 1rem;
  }
}
.footer-menu-arrow span {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    #ab6bff,
    #9ad5f9 15%,
    #575df0 35%,
    #ab6bff 50%,
    #9ad5f9 65%,
    #575df0 85%,
    #ab6bff
  );
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: textcolor 10s linear infinite;
}
.footer-info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
}
.footer-info-copy {
  width: auto;
  height: auto;
}
.footer-info-copy h2 {
  font-size: 0.8rem;
  font-weight: 200;
}
